<!-- BREADCRUMBS SETCTION START -->
{% if settings.breadcrumb_banner_enable %}
<div class="breadcrumbs-section">
  <div class="breadcrumbs overlay-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumbs-inner text-{% if settings.text_style == 'text_style_left' %}left{% elsif settings.text_style == 'text_style_center' %}center{% elsif settings.text_style == 'text_style_right' %}right{% endif %}">
            <h1 class="breadcrumbs-title">{{ page_title }}</h1> 
            {% include 'breadcrumb-builtin' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- BREADCRUMBS SETCTION END -->