{%- if section.settings.logo_sticky -%}
<a href="/" class="logo-box">

  <figure class="logo--normal"> 
    <img src="{{ section.settings.logo_sticky | img_url: '300x300' }}" alt="{{ section.settings.logo_sticky.alt | default: shop.name }}">  
  </figure>

</a>
{%- else -%}
<a href="/" class="logo-box">
  {{ shop.name }}
</a>
{%- endif -%}
