
<form action="/search" method="get" class="searchform searchform-2" role="search">
  {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
  <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="searchform__input" aria-label="{{ 'general.search.placeholder' | t }}">

  <button type="submit" class="searchform__submit">
    <i class="dl-icon-search1"></i>
  </button>
</form>

