<!-- Mini Cart Start -->
<aside class="mini-cart" id="miniCart">
  <div class="mini-cart-wrapper">
    <a href="" class="btn-close"><i class="dl-icon-close"></i></a>
    {%- include 'mini-cart' -%}
  </div>
</aside>
<!-- Mini Cart End -->