<!-- Search from Start --> 
<div class="searchform__popup" id="searchForm">
  <a href="#" class="btn-close"><i class="dl-icon-close"></i></a>
  <div class="searchform__body">
    <p>{{ section.settings.search_title }}</p>
   {% include 'search-bar' %}
  </div>
</div>
<!-- Search from End --> 
